@{
    ViewData["Title"] = "Search Results";
}

<div class="heading-page header-text">
    <section class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-content">
                        <h4>Search Results</h4>
                        <h2>Articles matching your search</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<section class="blog-posts grid-system">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="all-blog-posts">
                    <div class="row">
                        @if (ViewBag.News != null && ViewBag.News.Count > 0)
                        {
                            @foreach (var news in (ViewBag.News as List<GroupBoizDAL.Entities.NewsArticle>))
                            {
                                <div class="col-lg-6">
                                    <div class="blog-post">
                                        <div class="blog-thumb">
                                            <img src="@news.ImageUrl" alt="">
                                        </div>
                                        <div class="down-content">
                                            <span>@news.Category.CategoryName</span>
                                            <a href="/newsDetail/index/@news.NewsArticleId"><h4>@news.NewsTitle</h4></a>
                                            <ul class="post-info">
                                                <li><a href="#">@news.CreatedBy?.AccountName</a></li>
                                                <li><a href="#">@news.CreatedDate</a></li>
                                            </ul>
                                            <div class="post-options">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <ul class="post-tags">
                                                            <li><i class="fa fa-tags"></i></li>
                                                            @foreach (var tag in news.Tags)
                                                            {
                                                                <li><a href="#">@tag.TagName</a>,</li>
                                                            }
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <p>No articles found for your search.</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
