@using GroupBoizCommon.DTO

@{
    ViewData["Title"] = "News Management Details Page";

}

<!-- Page Content -->
<!-- Banner Starts Here -->
<div class="heading-page header-text">
    <section class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-content">
                        <h4>Post Details</h4>
                        <h2>Single blog post</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Banner Ends Here -->

<section class="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="main-content">
                    <div class="row">
                        <div class="col-lg-8">
                            <span>Stand Blog HTML5 Template</span>
                            <h4>Creative HTML Template For Bloggers!</h4>
                        </div>
                        <div class="col-lg-4">
                            <div class="main-button">
                                <a rel="nofollow" href="https://templatemo.com/tm-551-stand-blog" target="_parent">Download Now!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="blog-posts grid-system">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="all-blog-posts">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="blog-post">
                                @if (ViewBag.News != null)
                                {
                                    <div class="blog-thumb">
                                        @if (!string.IsNullOrEmpty(ViewBag.News.ImageUrl))
                                        {
                                            <img id="news-image" src="@ViewBag.News.ImageUrl" alt="News Image">
                                        }
                                        else
                                        {
                                            <img id="news-image" src="assets/images/default-image.jpg" alt="Default Image">
                                        }
                                    </div>

                                    <div class="down-content">
                                        <span id="news-category">@(ViewBag.News.Category?.CategoryName ?? "No Category")</span>

                                        <input type="hidden" id="news-id" value="@ViewBag.News.NewsArticleId" />

                                        <h4 id="news-title">@(ViewBag.News.NewsTitle ?? "No Title Available")</h4>  

                                        <ul class="post-info">
                                            
                                            <li><span id="news-date">@(ViewBag.News.CreatedDate?.ToString("yyyy-MM-dd") ?? "Unknown Date")</span></li>

                                        </ul>
                                        @* <p>@news.NewsContent</p> *@
                                        <div class="post-options">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <ul id="news-tags" class="post-tags">
                                                        <li><i class="fa fa-tags"></i></li>
                                                        @foreach (var tag in ViewBag.News.Tags)
                                                        {
                                                            <li>@tag.TagName,</li>
                                                        }
                                                    </ul>
                                                    <div id="tag-selector" class="d-none">
                                                        @if (ViewBag.Tag != null)
                                                        {
                                                            var tagList = ViewBag.Tag as List<TagDTO>;
                                                            if (tagList != null)
                                                            {
                                                                foreach (var tag in tagList)
                                                                {
                                                                    <div class="form-check">
                                                                        <input type="checkbox" class="form-check-input tag-checkbox" id="tag-@tag.TagId" value="@tag.TagId">
                                                                        <label class="form-check-label" for="tag-@tag.TagId">@tag.TagName</label>
                                                                    </div>
                                                                }
                                                            }
                                                        }
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <p id="news-content">@(ViewBag.News.NewsContent ?? "No Content Available")</p>

                                        <div class="post-options">
                                            <div class="row">
                                                <div class="col-6">
                                                    @if (ViewBag.Role != null && ViewBag.AccountId != null && ViewBag.News?.CreatedById != null)
                                                    {
                                                        @if (ViewBag.Role == "Staff")
                                                        {
                                                            <button class="btn btn-warning" id="edit-button">Edit</button>
                                                            <button class="btn btn-danger" id="delete-button">Delete</button>
                                                        }


                                                    }
                                                    <button class="btn btn-success d-none" id="save-button">Save</button>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                }
                                else
                                {
                                    <p>No news article found.</p>
                                }
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="sidebar-item submit-comment">
                                <div class="sidebar-heading">
                                    <h2>Your comment</h2>
                                </div>
                                <div class="content">
                                    <form id="comment" action="#" method="post">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-12">
                                                <fieldset>
                                                    <input name="name" type="text" id="name" placeholder="Your name" required="">
                                                </fieldset>
                                            </div>
                                            <div class="col-md-6 col-sm-12">
                                                <fieldset>
                                                    <input name="email" type="text" id="email" placeholder="Your email" required="">
                                                </fieldset>
                                            </div>
                                            <div class="col-md-12 col-sm-12">
                                                <fieldset>
                                                    <input name="subject" type="text" id="subject" placeholder="Subject">
                                                </fieldset>
                                            </div>
                                            <div class="col-lg-12">
                                                <fieldset>
                                                    <textarea name="message" rows="6" id="message" placeholder="Type your comment" required=""></textarea>
                                                </fieldset>
                                            </div>
                                            <div class="col-lg-12">
                                                <fieldset>
                                                    <button type="submit" id="form-submit" class="main-button">Submit</button>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="sidebar">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="sidebar-item search">
                                <form id="search_form" method="GET" action="/Search">
                                    <input type="text" name="q" class="searchText" placeholder="Type to search..." autocomplete="on">
                                    <button type="submit" class="btn btn-primary">Search</button>
                                </form>
                            </div>
                        </div>
                        @* <div class="col-lg-12"> *@
                        @*     <div class="sidebar-item recent-posts"> *@
                        @*         <div class="sidebar-heading"> *@
                        @*             <h2>Recent Posts</h2> *@
                        @*         </div> *@
                        @*         <div class="content"> *@
                        @*             <ul> *@
                        @*                 <li> *@
                        @*                     <a href="post-details.html"> *@
                        @*                         <h5>Vestibulum id turpis porttitor sapien facilisis scelerisque</h5> *@
                        @*                         <span>May 31, 2020</span> *@
                        @*                     </a> *@
                        @*                 </li> *@
                        @*                 <li> *@
                        @*                     <a href="post-details.html"> *@
                        @*                         <h5>Suspendisse et metus nec libero ultrices varius eget in risus</h5> *@
                        @*                         <span>May 28, 2020</span> *@
                        @*                     </a> *@
                        @*                 </li> *@
                        @*                 <li> *@
                        @*                     <a href="post-details.html"> *@
                        @*                         <h5>Swag hella echo park leggings, shaman cornhole ethical coloring</h5> *@
                        @*                         <span>May 14, 2020</span> *@
                        @*                     </a> *@
                        @*                 </li> *@
                        @*             </ul> *@
                        @*         </div> *@
                        @*     </div> *@
                        @* </div> *@
                        <div class="col-lg-12">
                            <div class="sidebar-item categories">
                                <div class="sidebar-heading">
                                    <h2>Categories</h2>
                                </div>
                                <div class="content">
                                    <ul>
                                        @if (ViewBag.Category != null)
                                        {
                                            var categoryList = ViewBag.Category as List<CategoryDTO>; // Ép kiểu đúng
                                            if (categoryList != null && categoryList.Count > 0)
                                            {
                                                foreach (var category in categoryList)
                                                {
                                                    <li><a href="/News/ByCategory/@category.CategoryId">- @category.CategoryName</a></li>
                                                }
                                            }
                                            else
                                            {
                                                <li>No categories found.</li>
                                            }
                                        }

                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="sidebar-item tags">
                                <div class="sidebar-heading">
                                    <h2>Tag Clouds</h2>
                                </div>
                                <div class="content">
                                    <ul>
                                        @if (ViewBag.Tag != null)
                                        {
                                            var tagList = ViewBag.Tag as List<TagDTO>; // Ép kiểu đúng
                                            if (tagList != null && tagList.Count > 0)
                                            {
                                                foreach (var tag in tagList)
                                                {
                                                    <li><a href="/News/ByTag/@tag.TagId">@tag.TagName</a></li>
                                                }
                                            }
                                            else
                                            {
                                                <li>No tags found.</li>
                                            }
                                        }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>
    <script>
    document.addEventListener("DOMContentLoaded", function () {
        const editButton = document.getElementById('edit-button');
        const saveButton = document.getElementById('save-button');
        const deleteButton = document.getElementById('delete-button');
        const newsTitle = document.getElementById('news-title');
        const newsContent = document.getElementById('news-content');
        const newsTagsUl = document.getElementById('news-tags');
        const tagSelector = document.getElementById('tag-selector');

        if (editButton) {
            editButton.addEventListener('click', function () {
                if (newsTitle) newsTitle.contentEditable = true;
                if (newsContent) newsContent.contentEditable = true;

                // Ẩn danh sách tag, hiển thị checkbox
                if (newsTagsUl) newsTagsUl.classList.add('d-none');
                if (tagSelector) tagSelector.classList.remove('d-none');

                // ✅ Đánh dấu các checkbox theo tag hiện có
                let selectedTags = Array.from(newsTagsUl.querySelectorAll('.tag-item'))
                                        .map(tag => tag.textContent.trim().toLowerCase());

                document.querySelectorAll('.tag-checkbox').forEach(checkbox => {
                    checkbox.checked = selectedTags.includes(checkbox.nextElementSibling.textContent.trim().toLowerCase());
                });

                if (saveButton) saveButton.classList.remove('d-none');
                editButton.classList.add('d-none');
            });
        }

        if (saveButton) {
            saveButton.addEventListener('click', function () {
                if (newsTitle) newsTitle.contentEditable = false;
                if (newsContent) newsContent.contentEditable = false;

                // ✅ Lấy danh sách tag đã chọn từ checkbox
                let selectedTagIds = [];
                let selectedTagNames = [];

                document.querySelectorAll('.tag-checkbox:checked').forEach(checkbox => {
                    selectedTagIds.push(checkbox.value);
                    selectedTagNames.push(checkbox.nextElementSibling.textContent.trim());
                });

                // ✅ Cập nhật danh sách tag hiển thị
                if (newsTagsUl) {
                    newsTagsUl.innerHTML = '<li><i class="fa fa-tags"></i></li>';
                    selectedTagNames.forEach(tag => {
                        let li = document.createElement('li');
                        li.classList.add('tag-item');
                        li.textContent = tag;
                        newsTagsUl.appendChild(li);
                    });

                    newsTagsUl.classList.remove('d-none');
                }

                if (tagSelector) tagSelector.classList.add('d-none');
                saveButton.classList.add('d-none');
                if (editButton) editButton.classList.remove('d-none');

                selectedTagIds = selectedTagIds.map(Number);

                    const articleIdElement = document.getElementById('news-id');
    const articleId = articleIdElement ? articleIdElement.value : null;

    if (!articleId) {
        alert("Lỗi: Không tìm thấy NewsArticleId!");
        return;
    }

                // ✅ Gửi dữ liệu lên server
                const updatedNews = {
                    NewsArticleId: articleId ,
                    NewsTitle: newsTitle ? newsTitle.innerText.trim() : '',
                    NewsContent: newsContent ? newsContent.innerText.trim() : '',
                    TagIds: selectedTagIds // 🔥 Fix lỗi invalid data
                };

                console.log("Dữ liệu gửi lên server:", updatedNews); // Debug

                fetch('/NewsDetail/UpdateNews', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(updatedNews)
                })
                .then(response => {
                    if (!response.ok) throw new Error('Invalid response from server');
                    return response.json();
                })
                .then(data => alert(data.message))
                .catch(error => alert('Error updating news: ' + error.message));
            });
        }

    // Kiểm tra xem deleteButton có tồn tại không
    if (deleteButton) {
        // Lấy articleId từ phần tử input hoặc một phần tử chứa ID
        const articleIdElement = document.getElementById('news-id');
        const articleId = articleIdElement ? articleIdElement.value : null;

        // Nếu không có articleId, hiển thị thông báo lỗi
        if (!articleId) {
            alert("Lỗi: Không tìm thấy NewsArticleId!");
            return;
        }

        // Gắn sự kiện click cho deleteButton
        deleteButton.addEventListener('click', function () {
            // Hiển thị thông báo xác nhận trước khi xóa
            if (confirm('Are you sure you want to delete this news article?')) {
                // Gửi yêu cầu xóa bài viết qua API
                fetch('/NewsDetail/DeleteNews', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(articleId) // Chuyển articleId thành đối tượng JSON
                })
                .then(response => response.json()) // Xử lý phản hồi từ server
                .then(data => {
                    // Hiển thị thông báo kết quả
                    alert(data.message);
                    if (data.success) {
                        window.location.href = '/News'; // Điều hướng về trang danh sách tin tức
                    }
                })
                .catch(error => alert('Error deleting news!')); // Xử lý lỗi
            }
        });
    }

    });



    </script>
